@model List<PopularBookViewModel>

<h2>Top 10 Popular Books</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Times Borrowed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@string.Join(", ", item.Book.BookAuthors.Select(ba => ba.Author.Name))</td>
                <td>@item.TimesBorrowed</td>
            </tr>
        }
    </tbody>
</table>
